* {
  font-family: monospace;
}

body {
  background: teal;
}

.form-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form {
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  border-radius: 10px;
  margin: 10px;
  width: 70%;
}

#pass,
#username,#email,#vPass {
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.075);
  color: grey;
  border: 1px solid rgba(128, 128, 128, 0.781);
}

#username,
#pass,#email, #vPass :focus {
  border-color: silver;
  background: white;
  color: rgba(0, 0, 0, 0.788);
  outline-style: none;
}

.form-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-button {
  width: 100%;
  height: 5vh;
  background: rgba(0, 128, 128, 0.815);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

a {
  color: rgba(19, 5, 109, 0.815);
  text-decoration: none;
  cursor: pointer;
}

.submit-button:active {
  transform: scale(0.95);
}

.submit-button:hover {
  cursor: grab;
}
